<!--
variables:
object (WbId, Name, Modus / UnterwbID, Name, Modus, WbID, WbName)
signed_teams dict('teamname': (spieler))
-->

{% extends "base.html" %}
{%  block content %}
    {% if object[2] == 'turnier' or object[2] == 'liga' or object[2] == 'ko' %}
        <a href="{{ url_for('competition.detail_division', divisionid=object[0]) }}"><button id="back">Zurück</button></a>
    {% elif object[2] == 'anmeldung' %}
        <a href="{{ url_for('competition.detail_competition', competitionid=object[0]) }}"><button id="back">Zurück</button></a>
    {% else %}
        <a href="{{ url_for('competition.detail_competition', competitionid=object[0]) }}"><button id="back">Zurück</button></a>
        {% endif %}
    <h1>Angemeldete Teams</h1>
    <table border = 1>
    {% for key in signed_teams %}
        <tr>
            <td width="220"><a href="{{ url_for('user.detail_team', teamname=key) }}">{{ key }}</a></td>
            <td>
                {% for item in signed_teams[key] %}
                    <a href="{{ url_for('user.detail_player', nickname=item) }}">{{ item }}</a> |
                {% endfor %}
            </td>
        </tr>
    {% endfor %}
    </table>
    <br>

{% endblock %}