{% extends "base.html" %}
{%- from 'macros.html' import kospiele, ligaspiele with context %}
{%  block content %}
    <h1>Spiel: {{ gameid }}</h1>
    Unterwettbewerb: <a href="{{ url_for('competition.detail_division', divisionid=data[1]) }}">{{ data[2] }}</a><br>
    {% if data[3] == 'liga' %}
        Spieltag: <a href="{{ url_for('competition.detail_league', leagueid=data[1], matchday=result[7]) }}">{{ result[7] }}</a><br>
    {%  endif %}
    Datum: {{ data[3] }}<br>
    Gewertet: {{ data[4] }}<br>
    <br>
    {% if data[3] == 'liga' %}
        {{ ligaspiele([result]) }}
        <br>
        <br>
        Spiel bearbeiten: <a href="{{ url_for('settings.main', option='game_edit') }}">edit</a>
    {% endif %}
    {% if data[3] == 'turnier' %}
    {% endif %}
    {% if data[3] == 'ko' %}
        {{ kospiele([result]) }}
    {% endif %}
{% endblock %}