{% extends "base.html" %}
{%- from 'macros.html' import kospiele, ligaspiele_info with context %}
{%  block content %}
    Unterwettbewerb: <a href="{{ url_for('competition.detail_division', divisionid=data[1]) }}">{{ data[2] }}</a>
    {% if data[3] == 'liga' %}
        <span id="back"><a href="{{ url_for('competition.detail_league', leagueid=data[1], matchday=result[7]) }}" class="myButton">Zurück</a></span>
        <br>
        Spieltag: <a href="{{ url_for('competition.detail_league', leagueid=data[1], matchday=result[7]) }}">{{ result[7] }}</a><br>
    {%  endif %}
    Datum: {{ data[4] }}<br>
    Gewertet: {{ data[5] }}<br>
    <br>
    {% if data[3] == 'liga' %}
        {{ ligaspiele_info([result]) }}
        <br>
        {% if show_edit %}
            <hr>
            <h1>Persönlicher bereich</h1>
            Spiel bearbeiten: <a href="{{ url_for('settings.main', option='game_edit') }}">edit</a>
        {% endif %}
    {% endif %}
    {% if data[3] == 'turnier' %}
    {% endif %}
    {% if data[3] == 'ko' %}
        {{ kospiele([result]) }}
    {% endif %}
{% endblock %}