{% extends "competition/division.html" %}
{%- from "macros.html" import ligaspiele, teamtabelle, spielertabelle, teamtabelle_small, ligaspiele_small, spielertabelle_small with context  %}

{%  block spiele %}
    <h1>
    <table id="matchday-title">
    <td>
    <form method="get" action="{{ url_for('competition.detail_league', leagueid=object[0], matchday=matchday - 1) }}">
    <button type="submit" {% if matchday == 1 %}disabled{% endif %}><</button>
    </form></td>
    <td width="170px">Spieltag: {{ matchday }}</td>
    <td><form method="get" action="{{ url_for('competition.detail_league', leagueid=object[0], matchday=matchday + 1) }}">
    <button type="submit" {% if matchday == matchday_max %}disabled{% endif %}>></button>
    </form></td>
    </table>
    </h1>
    <div id="leaguegames">{{ ligaspiele_small(table_games) }}</div>
    <br>
    <hr>
    <div id="standings">
    <div id="teamtable">{{ teamtabelle_small(table_teamtable) }}</div>
    <div id="playertable">{{ spielertabelle_small(table_playertable_small) }}</div>
    </div>
    <hr>
    <div id="details-button">
    <a href="{{ url_for('competition.detail_league_fullscreen', leagueid=object[0], matchday=matchday) }}"><button>Details</button></a>
    </div>

{% endblock %}