<!--
variables:
object (UntewbID, Name, Modus, WbID, WbName)
-->
{% extends "base.html" %}
{% block content %}
    <a href="{{ url_for('competition.detail_competition', competitionid=object[3]) }}"><button id="back">Zurück</button></a>
        {% block spiele %}{% endblock %}
    <div id="teamtext">
        <a href="{{ url_for('competition.division_signed_teams', divisionid=object[0]) }}">Teamliste</a></div>
    <div id="legend">
        <a href="{{ url_for('competition.legend') }}">Legende</a>
    </div>

{% endblock %}