{% extends "base.html" %}
{% block content %}
    <table>
    <tr>
        <td width="60">G</td>
        <td>Gewonnen (3 Punkte)</td>
    </tr>
    <tr>
        <td>OTS</td>
        <td>Overtime-Sieg (2 Punkte)</td>
    </tr>
    <tr>
        <td>OTN</td>
        <td>Overtime-Niederlage (1 Punkt)</td>
    </tr>
    <tr>
        <td>V</td>
        <td>Verloren (0 Punkte)</td>
    </tr>
    <tr height="10">
    </tr>
    <tr>
        <td>P.</td>
        <td>Platzierung</td>
    </tr>
    <tr>
        <td>Sp.</td>
        <td>Spiele</td>
    </tr>
    <tr>
        <td>Diff</td>
        <td>Differenz</td>
    </tr>
    <tr>
        <td>Pkt</td>
        <td>Punkte</td>
    </tr>
    <tr>
        <td>Tr.</td>
        <td>Treffer</td>
    </tr>
    <tr>
        <td>/</td>
        <td>Trefferdurchchnitt</td>
    </tr>
    </table>

{% endblock %}
