#content {
    width: 1110px;
    min-width: 1110px;
    margin-left: auto;
    margin-right: auto;
}

#standings {
 display: inline-block;
}

#leaguegames {
    margin-bottom: 10px;
    float: left;
}

#teamtable {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

#playertable {
    float: right;
    margin-right: 15px;
    margin-bottom: 10px;
}

#nav {

}

table {
    max-width: 900px;
}
