{% extends "base.html" %}
{% block content %}
    <h1>Admin page</h1>
    Options:
    <ul>
        <li><a href="{{ url_for('adminsettings', option='newplayer') }}">Neuen Spieler anlegen</a></li>
        <li><a href="{{ url_for('adminsettings', option='newteam') }}">Neues Team anlegen</a></li>
        <li><a href="{{ url_for('adminsettings', option='resetpw') }}">Passwort zurücksetzen</a></li>
        <li><a href="{{ url_for('adminsettings', option='delplayer') }}">Spieler entfernen</a></li>
        <li><a href="{{ url_for('adminsettings', option='delteam') }}">Team entfernen</a></li>
    </ul>
    Views:
    <ul>
    <li>test</li>
    </ul>
{% endblock %}