{% extends "base.html" %}
{% block content %}
    <a href="{{ url_for('admin.adminhome') }}"><- Zurück</a>
    {% if option == 'new_player' %}
        <h1>Neuen Spieler anlegen</h1>
        <form action="{{ url_for('admin.adminsettings', option='new_player') }}" method="post">
        <dl>
            <dt>Nickname:
            <dd><input type=text name=nickname>
            <dt>Vorname:
            <dd><input type=text name=vorname>
            <dt>Nachname:
            <dd><input type=text name=name>
            <dd><input type=submit value=Submit>
        </dl>
        </form>
    {% elif option == 'new_team' %}
        <h1>Neues Team anlegen</h1>
        <form action="{{ url_for('admin.adminsettings', option='new_team') }}" method="post">
        <dl>
            <dt>Teamname:
            <dd><input type=text name=name>
            <dd><input type=submit value=Submit>
        </dl>
        </form>
    {% elif option == 'new_password' %}
        <h1>Passwort zurücksetzen</h1>
        {% if not itemlist %}
            Es gibt keine Spieler
        {% else %}
            <form action="{{ url_for('admin.adminsettings', option='new_password') }}" method="post">
            <dl>
                <dt>Spieler:
                <dd><select type name=nickname>
                {% for item in itemlist %}
                    <option value="{{ item }}">{{ item }}</option>
                {% endfor %}
                </select>
                <dd><input type=submit value=Submit>
            </dl>
            </form>
        {% endif %}
    {% elif option == 'del_player' %}
        <h1>Spieler entfernen</h1>
        {% if not itemlist %}
            Es gibt keine Spieler zu entfernen
        {% else %}
            <form action="{{ url_for('admin.adminsettings', option='del_player') }}" method="post">
            <dl>
                <dt>Spieler:
                <dd><select type name=nickname>
                {% for item in itemlist %}
                    <option value="{{ item }}">{{ item }}</option>
                {% endfor %}
                </select>
                <dd><input type=submit value=Submit>
            </dl>
            </form>
        {% endif %}
    {% elif option == 'del_team' %}
        <h1>Team entfernen</h1>
        {% if not itemlist %}
            Es gibt keine Teams zu entfernen
        {% else %}
            <form action="{{ url_for('admin.adminsettings', option='del_team') }}" method="post">
            <dl>
                <dt>Teams:
                <dd><select type name=name>
                {% for item in itemlist %}
                    <option value="{{ item }}">{{ item }}</option>
                {% endfor %}
                </select>
                <dd><input type=submit value=Submit>
            </dl>
            </form>
        {% endif %}
    {% endif %}
{% endblock %}