<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
    <title>{{ title }} - Testing Index</title>
     {% else %}
    <title>Welcome</title>
    {% endif %}
</head>
<body>
    <div>Microblog:
        <a href="/index">Home</a>
        <a href="{{ url_for('spieler') }}">Spieler</a>
        <a href="{{ url_for('teams') }}">Teams</a>
        {% if not session.logged_in %}
        <a href="{{ url_for('login') }}">login</a>
        {% else %}
        <a href="{{ url_for('logout') }}">logout</a>
        {% endif %}
    <hr>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>{% for message in messages %}<li>{{ message }}{% endfor %}</li></ul>
        {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
</body>
</html>