{%- from "macros.html" import navigation with context  %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='style.css') }}">
    {% if large %}
        <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='large.css') }}">
    {% endif %}
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>
    <div id="header">
        <div id="header-logo">
            <a href="{{ url_for('competition.overview') }}"><img src="{{ url_for('static', filename='logo.png') }}" width="70" height="80"></a>
        </div>
        <div id="header-title">
            <div id="website-title">BLLV WHA Bierpongliga</div>
            <div id="page-title">
                {% if page_title %}
                {{ page_title }}
                {% else %}
                !!! Noch machen !!!
                {% endif %}
            </div>
        </div>
        <div id="header-right">
        {% if not session.logged_in %}
            <br>
            <a href="{{ url_for('login.login') }}"><button id="h-button" class="login">Login</button></a>
        {% else %}
            {% if session.username == 'admin' or session.username == 'mod' %}
                <a href="{{ url_for('settings.home') }}"><button id="h-button" class="settings">{{ session.username }}</button></a>
            {% else %}
                <a href="{{ url_for('user.detail_player', nickname=session.username) }}"><button id="h-button" class="user">{{ session.username }}</button></a>
            {% endif %}
            <br>
            <a href="{{ url_for('login.logout') }}"><button id="h-button" class="logout">Logout</button></a>
        {% endif %}
        </div>
    </div>
    <div id="section">
    <div id="nav">
        {{ navigation() }}
    </div>


    <div id="content">
    {% block content %}{% endblock %}
    </div>


        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div id="messages">
            <h1>Messages</h1>
            <ul>{% for message in messages %}<li>{{ message }}</li>{% endfor %}</ul>
         </div>
        {% endif %}
        {% endwith %}


    </div>


    <div id="footer">
        Made by Alfred Melch | Contact alfred.melch [at] gmx.de | <a href="http://www.facebook.com/alfred.melch" target="_blank">Facebook</a> | <a href="{{ url_for('about') }}">About</a>
    </div>

</body>
</html>