<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='style.css') }}">
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>
    <div id="header">BPL:
        <a href="{{ url_for('home') }}">Home</a> |
        <a href="{{ url_for('comp') }}">Wettbewerbe</a>
    </div>

    <div id="nav">
        {% if not session.logged_in %}
            <a href="{{ url_for('home') }}">Login</a>
        {% else %}
            <a href="{{ url_for('home') }}">Logout</a>
            <br>
            Logged in as <br>
            {{ session.username }}
            <hr>
            <a href="{{ url_for(player, username=session.userid) }}">See Profile</a>

            {% if session.username == 'admin' %}
                <hr>
                <a href="{{ url_for('home') }}">User anlegen</a>
            {% endif %}
        {% endif %}
    </div>

    <div id="section">
    {% block content %}{% endblock %}
    </div>

    <div id="footer">
        Messages:
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>{% for message in messages %}<li>{{ message }}</li>{% endfor %}</ul>
        {% endif %}
        {% endwith %}
    </div>
</body>
</html>