{% extends "base.html" %}
{%  block content %}
    <h1>Spielerseite für: {{ nickname }}</h1>
    <ul>
        <li>SpielerID: {{ data[0] }}</li>
        <li>Vorname: {{ data[2] }}</li>
        <li>Nachname: {{ data[3] }}</li>
    </ul>
    <br>
    <br>
    Teilgenommene Wettbewerbe:
    <table border="1">
        <tr>
            <th>Wettbewerb</th>
            <th>Platz</th>
            <th>Team</th>
        </tr>
        {% for row in spielerinfo %}
            <tr>
                <td><a href="{{ url_for('unterwettbewerb', unterwb=row[0]) }}">{{ row[1] }}</a></td>
                <td>{{ row[2] }}</td>
                <td>
                    <a href="{{ url_for('detailteam', teamname=row[3]) }}">{{ row[3] }}</a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}