{% macro kospiele(table_spiele) %}
    <table border="1">
        <tr>
            <th>SpielID</th>
            <th>Team1</th>
            <th>Erg1</th>
            <th>Erg2</th>
            <th>Team2</th>
        </tr>
        {% for row in table_spiele %}
            <tr>
                <td><a href="{{ url_for('competition.detail_game', gameid=row[0]) }}">{{ row[0] }}</a></td>
                <td class="name"><a href="{{ url_for('user.detail_team', teamname=row[1]) }}">{{ row[1] }}</a></td>
                <td>{{ row[2] }}</td>
                <td>{{ row[3] }}</td>
                <td class="name"><a href="{{ url_for('user.detail_team', teamname=row[4]) }}">{{ row[4] }}</a></td>
            </tr>
        {% endfor %}
    </table>
{% endmacro %}
{% macro ligaspiele(table_spiele) %}
    <table border="1">
        <caption>Spiele</caption>
        {% for row in table_spiele %}
            <tr>
                <td width="26"><a href="{{ url_for('competition.detail_game', gameid=row[0]) }}">{{ row[0] }}</a></td>
                <td width="30">{{ row[1] }}</td>
                <td width="220" class="name"><a href="{{ url_for('user.detail_team', teamname=row[2]) }}">{{ row[2] }}</a></td>
                {% if row[3] %}
                <td width="14">{{ row[3] }}</td>
                {% else %}
                <td width="14">x</td>
                {% endif %}
                {% if row[4] %}
                <td width="14">{{ row[4] }}</td>
                {% else %}
                <td width="14">x</td>
                {% endif %}
                <td width="220" class="name"><a href="{{ url_for('user.detail_team', teamname=row[5]) }}">{{ row[5] }}</a></td>
                <td width="30">{{ row[6] }}</td>
                <td width="185" class="name">
                        {% for item in row[8] %}
                        <a href="{{ url_for('user.detail_player', nickname=item[0]) }}">{{ item[0] }}</a>: {{ item[1] }}<br>
                        {% endfor %}
                </td>
            </tr>
        {% endfor %}
    </table>
{%  endmacro %}
{% macro teamtabelle(table_teamtabelle) %}
    <table border="1">
    <caption>Teamtabelle</caption>
        <tr>
            <th width="44">Platz</th>
            <th width="220" class="name">Team</th>
            <th width="53">Spiele</th>
            <th class="spacer"></th>
            <th width="71">Treffer</th>
            <th width="71">Kassiert</th>
            <th width="71">Diff</th>
            <th class="spacer"></th>
            <th width="30">G</th>
            <th width="30">V</th>
            <th width="30">OTS</th>
            <th width="30">OTN</th>
            <th class="spacer"></th>
            <th>Punkte</th>
        </tr>
        {% set count = 1 %}
        {% for row in table_teamtabelle %}
            <tr>
                <td>{{ count }}</td>
                <td class="name"><a href="{{ url_for('user.detail_team', teamname=row[0]) }}">{{ row[0] }}</a></td>
                <td>{{ row[1] }}</td>
                <td class="spacer"></td>
                <td>{{ row[2] }}</td>
                <td>{{ row[3] }}</td>
                <td>{{ row[4] }}</td>
                <td class="spacer"></td>
                <td>{{ row[5] }}</td>
                <td>{{ row[6] }}</td>
                <td>{{ row[7] }}</td>
                <td>{{ row[8] }}</td>
                <td class="spacer"></td>
                <td>{{ row[9] }}</td>
            </tr>
            {% set count = count+1 %}
        {% endfor %}
    </table>
{% endmacro %}
{% macro spielertabelle(table_spielertabelle) %}
    <table border="1">
    <caption>Spielertabelle</caption>
        <tr>
            <th width="104" class="name">Name</th>
            <th>Treffer</th>
            <th>Spiele</th>
            <th>Schnitt</th>
        </tr>
        {% for row in table_spielertabelle  %}
            <tr>
				<td><a href="{{ url_for('user.detail_player', nickname=row.name) }}">{{ row.name }}</a></td>
				<td>{{ row.treffer }}</td>
				<td>{{ row.spiele }}</td>
                <td>{{ row.schnitt }}</td>
			</tr>
        {% endfor %}
		</table>
{% endmacro %}

{% macro navigation() %}
    <div id="nav-title">
    <h1>Navigation</h1>
    </div>
    <div id="nav-content">

    {% for row in session.get('nav') %}
        <a href='{{  url_for('competition.detail_competition', competitionid=row) }}'>{{ session.get('nav_compinfo')[row][0] }}</a>
    <br>
        {% if session.get('nav_compinfo')[row][1] != 'anmeldung' %}
        <ul>
        {% for item in session.get('nav')[row] %}
            <li><a href="{{ url_for('competition.detail_division', divisionid=item) }}">{{ session.get('nav_divinfo')[item][0] }}</a></li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endfor %}
    </div>
{% endmacro %}
{% macro teamtabelle_small(table_teamtabelle) %}
    <table border="1">
    <caption>Teamtabelle</caption>
        <tr>
            <th width="20px">P.</th>
            <th width="220" class="name">Team</th> <!-- 220px -->
            <th width="20px">Sp.</th>
            <th width="30px">Diff</th>
            <th width="30px">Pkt</th>
        </tr>
        {% set count = 1 %}
        {% for row in table_teamtabelle %}
            <tr>
                <td>{{ count }}</td>
                <td class="name"><a href="{{ url_for('user.detail_team', teamname=row[0]) }}">{{ row[0] }}</a></td>
                <td>{{ row[1] }}</td>
                <td>{{ row[4] }}</td>
                <td>{{ row[9] }}</td>
            </tr>
            {% set count = count+1 %}
        {% endfor %}
    </table>
{% endmacro %}
{% macro ligaspiele_small(table_spiele, day, max) %}
    <table border="1">
        <caption><b>Spiele</b></caption>
        {% for row in table_spiele %}
            <tr>
                <td width="26px"><a href="{{ url_for('competition.detail_game', gameid=row[0]) }}"><img src="{{ url_for('static', filename='info.png') }}"></a></td>
                <td width="30px">{{ row[1] }}</td>
                <td width="220px" class="name"><a href="{{ url_for('user.detail_team', teamname=row[2]) }}">{{ row[2] }}</a></td>
                {% if row[3] %}
                <td width="14">{{ row[3] }}</td>
                {% else %}
                <td width="14">x</td>
                {% endif %}
                {% if row[4] %}
                <td width="14">{{ row[4] }}</td>
                {% else %}
                <td width="14">x</td>
                {% endif %}
                <td width="220px" class="name"><a href="{{ url_for('user.detail_team', teamname=row[5]) }}">{{ row[5] }}</a></td>
                <td width="30px">{{ row[6] }}</td>
            </tr>
        {% endfor %}
    </table>
{%  endmacro %}
{% macro spielertabelle_small(table_spielertabelle) %}
    <table border="1">
    <caption>Spielertabelle</caption>
        <tr>
            <th width="104px" class="name">Name</th>
            <th width="27px">Tr.</th>
            <th width="27px">Sp.</th>
            <th width="36px">/</th>
        </tr>
        {% for row in table_spielertabelle  %}
            <tr>
				<td class="name"><a href="{{ url_for('user.detail_player', nickname=row.name) }}">{{ row.name }}</a></td>
				<td>{{ row.treffer }}</td>
				<td>{{ row.spiele }}</td>
                <td>{{ row.schnitt }}</td>
			</tr>
        {% endfor %}
		</table>
{% endmacro %}
{% macro ligaspiele_info(table_spiele) %}
    <table border="1">
        {% for row in table_spiele %}
            <tr>
                <td width="30px">{{ row[1] }}</td>
                <td width="220px" class="name"><a href="{{ url_for('user.detail_team', teamname=row[2]) }}">{{ row[2] }}</a></td>
                <td width="14px">{{ row[3] }}</td>
                <td width="14px">{{ row[4] }}</td>
                <td width="220px" class="name"><a href="{{ url_for('user.detail_team', teamname=row[5]) }}">{{ row[5] }}</a></td>
                <td width="30px">{{ row[6] }}</td>
            </tr>
        {% endfor %}
    </table>
    <br>
    {% for item in table_spiele[0][8] %}
        <a href="{{ url_for('user.detail_player', nickname=item[0]) }}">{{ item[0] }}</a>: {{ item[1] }}<br>
    {% endfor %}
{%  endmacro %}
