{% extends "base.html" %}
{%  block content %}

        {% if title=='Spieler' %}
            <h1>Spieler</h1>
        <table border="1">
            <tr>
				<th>ID</th>
                <th>Nickname</th>
				<th>Vorname</th>
				<th>Nachname</th>
			</tr>
            {% for entry in table %}
			<tr>
				<td>{{ entry[0] }}</td>
				<td>{{ entry[1] }}</td>
				<td>{{ entry[2] }}</td>
                <td>{{ entry[3] }}</td>
			</tr>
		    {% endfor %}
		</table>
    {% endif %}
    {% if title == 'Teams' %}
    <h1>Teams</h1>

        <table border="1">
			<tr>
				<th>ID</th>
                <th>Name</th>
			</tr>
            {% for entry in table %}
			<tr>
				<td>{{ entry.ID }}</td>
				<td>{{ entry.Name }}</td>
			</tr>
		    {% endfor %}
		</table>
    {% endif %}
    {% if title=="Wettbewerbe" %}
    <h1>Wähle einen Unterwettbewerb</h1>

    <table>
        <tr>
            <th>Wettbeweb</th>
            <th>Unterwettbewerb</th>
            <th>Start</th>
            <th>Ende</th>
        </tr>
        {% for wb in table %}
            <tr>
                <td>{{ wb.wbname }}</td>
                <td><a href="{{ wb.id }}/1">{{ wb.unterwb }}</a></td>
                <td>{{ wb.start }}</td>
                <td>{{ wb.ende }}</td>
            </tr>
    {% endfor %}
    {% endif %}
    </table>
    {% if title=="Teamtabelle" %}
        <h1>Spieltag: {{ spieltag }}</h1>
         <form action="/{{ unterwb }}/{{ spieltag-1 }}">
             <input type="submit" value="Spieltag zurück" {% if spieltag == 1 %}disabled{% endif %}>
        </form>
        <form action="/{{ unterwb }}/{{ spieltag+1 }}">
            <input type="submit" value="Spieltag weiter" {% if spieltag == max_spieltag %}disabled{% endif %}>
        </form>
        <table border="1">
        <tr>
            <th>Platz</th>
            <th>Team</th>
            <th>Spiele</th>
            <th>Treffer</th>
            <th>Kassiert</th>
            <th>Diff</th>
            <th>G</th>
            <th>V</th>
            <th>OTS</th>
            <th>OTN</th>
            <th>Punkte</th>
        </tr>
        {% set count = 1 %}
        {% for team in table_t %}
        <tr>
            <td>{{ count }}</td>
            <td>{{ team.team }}</td>
            <td>{{ team.spiele }}</td>
            <td>{{ team.treffer }}</td>
            <td>{{ team.kassiert }}</td>
            <td>{{ team.diff }}</td>
            <td>{{ team.g }}</td>
            <td>{{ team.v }}</td>
            <td>{{ team.ots }}</td>
            <td>{{ team.otn }}</td>
            <td>{{ team.punkte }}</td>
        </tr>
            {% set count = count+1 %}
        {% endfor %}
        </table>
<br>
        <br>
    <table border="1">
        <tr>
            <th>Erg1</th>
            <th>T1</th>
            <th>T1Tref</th>
            <th>T2Tref</th>
            <th>T2</th>
            <th>Erg2</th>
        </tr>
        {% for spiel in table_st %}

            <tr>
                <td>{{ spiel.Erg1 }}</td>
                <td>{{ spiel.T1 }}</td>
                <td>{{ spiel.T1tref }}</td>
                <td>{{ spiel.T2tref }}</td>
                <td>{{ spiel.T2 }}</td>
                <td>{{ spiel.Erg2 }}</td>
            </tr>
    {% endfor %}
    </table>
        <br><br>
        <table border="1">
            <tr>
				<th>Name</th>
                <th>Treffer</th>
				<th>Spiele</th>
                <th>Schnitt</th>
            </tr>
            {% for entry in spieler_t  %}
			<tr>
				<td>{{ entry.name }}</td>
				<td>{{ entry.treffer }}</td>
				<td>{{ entry.spiele }}</td>
                <td>{{ entry.schnitt }}</td>
			</tr>
		    {% endfor %}
		</table>
    {% endif %}
{% endblock %}