{% extends "base.html" %}
{%  block content %}
    <h1>Spielerseite für: {{ data[1] }}</h1>
    <ul>
        <li>SpielerID: {{ data[0] }}</li>
        <li>Vorname: {{ data[2] }}</li>
        <li>Nachname: {{ data[3] }}</li>
    </ul>
    <table border="1" id="detail-player">
        <caption>Teilgenommene Wettbewerbe</caption>
        <tr>
            <th>Wettbewerb</th>
            <th>Platz</th>
            <th width="220">Team</th>
        </tr>
        {% for row in history %}
            <tr>
                <td><a href="{{ url_for('competition.detail_division', divisionid=row[0]) }}">{{ row[1] }}</a></td>
                <td width="50px" class="center">{{ row[2] }}</td>
                <td>
                    <a href="{{ url_for('user.detail_team', teamname=row[3]) }}">{{ row[3] }}</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    <br>
    {% if session.username == data[1] %}
        <hr>
        <h2>Persönlicher Bereich</h2>
        <ul>
        <li><a href="{{ url_for('user.settings', nickname=data[1], option='personal') }}">Daten ändern</a></li>
        <li><a href="{{ url_for('user.settings', nickname=data[1], option='password') }}">Passwort ändern</a></li>
        <li><a href="{{ url_for('user.settings', nickname=data[1], option='nickname') }}">Nickname ändern</a></li>
        </ul>
    {% endif %}
{% endblock %}