{% extends "base.html" %}
{% block content %}
    <a href="{{ url_for('user.detail_player', nickname=nickname) }}"><- Zurück</a>
    {% if option == 'personal' %}
        <h1>Persönliche Daten ändern</h1>
        <form action="{{ url_for('user.settings', nickname=nickname, option='personal') }}" method="post">
        <dl>
            <dt>Vorname:
            <dd><input type=text name=vorname>
            <dt>Nachname:
            <dd><input type=text name=name>
            <dd><input type=submit value=Submit>
        </dl>
        </form>
    {% elif option == 'password' %}
        <h1>Passwort ändern</h1>
        <form action="{{ url_for('user.settings', nickname=nickname, option='password') }}" method="post">
        <dl>
            <dt>Nickname:
            <dd><input type=text name=nickname>
            <dt>Altes Passwort:
            <dd><input type=password name=pwold>
            <dt>Neues Passwort:
            <dd><input type=password name=pwnew>
            <dd><input type=submit value=Submit>
        </dl>
        </form>
    {% elif option == 'nickname' %}
        <h1>Passwort ändern</h1>
        <form action="{{ url_for('user.settings', nickname=nickname, option='nickname') }}" method="post">
        <dl>
            <dt>Neuer Nickname:
            <dd><input type=text name=nicknew>
            <dt>Passwort:
            <dd><input type=password name=password>
            <dd><input type=submit value=Submit>
        </dl>
        </form>
    {% endif %}
    {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}

{% endblock %}